{% extends 'index.html' %}
{% block user-items %}
    <li><a href="{% url 'blog:sign_in' %}">Sign In</a></li>
    <li><a href="{% url 'blog:sign_up' %}">Sign Up</a></li>
{% endblock %}
{% block container %}
<form action="{% url 'blog:forgot_password' %}" method="POST" class="fUser">
    {% csrf_token %}
    <input type="username" name="inpUsername" placeholder="Your username">
    <input type="email" name="inpEmail" placeholder="Your email username">
    <input type="submit" class="btnSignin">
    {{message}}
</form>
{% endblock %}