{% extends 'pages/sign-in.html' %}
{% block container %}
<form action="{% url 'blog:reset_password' %}" method="POST" class="fUser">
    <label class="title">Reset Password</label>
    {% csrf_token %}
    <label>Your New Password:</label>
    <input type="password" placeholder="Your Password" name="password1">
    <label>Confirm Password:</label>
    <input type="password" placeholder="Password Confirm" name="password2">
    <label>{{message}}</label>
    <input type="submit" class="btnSignin" id="btnSignin">
</form>
{% endblock %}